@import "./constants"

body
  font-family: 'Roboto', sans-serif
  background: $white-blue
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $gray-blue


.theme-bg-primary
  background-color: $green

  &-darken
    background-color: $dark-green


a.theme-btn-on-bg, .theme-btn-on-bg
  background: $shadow
  color: $white
  border: none

  &:hover, &:focus, &:active
    background: $darker-shadow
    border-color: transparent
    border: none


.progress
  border-radius: 2px


.theme-progress-bar-dark
  background-color: $green


.resume
  &-section
    &-title
      font-size: 1.25rem
      position: relative
      color: $green

      &:after
        content: ""
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 1.5px
        background: $light-gray-blue

    &-content
      color: $dead-blue

